<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">AFMERS</a>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link {% block class-navActiveHome %}{% endblock %}" aria-current="page" href="#">Home</a>
          <a class="nav-link {% block class-navActiveMap %}{% endblock %}" href="#">Map</a>
          <a class="nav-link {% block class-navActiveReports %}{% endblock %}" href="#">Reports</a>
        </div>
      </div>
    </div>
  </nav>