<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">AFMERS</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="http://127.0.0.1:8000/">Home</a>
        <a class="nav-link" href="http://127.0.0.1:8000/map/">Map</a>
        <a class="nav-link" href="http://127.0.0.1:8000/reports/">Reports</a>
        <a class="nav-link" href="http://127.0.0.1:8000/login/">Login</a>
        <a class="nav-link" href="http://127.0.0.1:8000/register/">Register</a>
      </div>
    </div>
  </div>
</nav>